In [1]:
import pandas as pd
import os

In [2]:
data_path = os.path.join(os.pardir, 'data', 'zippedData')

In [4]:
files = os.listdir(data_path)

In [6]:
data = {}
for file in files:
    import_path = os.path.join(data_path, file)
    data[file] = pd.read_csv(import_path)

In [7]:
data[files[3]]

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

## ImportDat

### SQL

In [18]:
import sqlite3
import pandas as pd

In [20]:
conn = sqlite3.connect('../data/movies.db')
cursor = conn.cursor()

In [21]:
query = "SELECT name FROM sqlite_master WHERE type = 'table'"
tables = pd.read_sql(query, conn)

In [ ]:
for table in tables.names: